---
layout: default
---



<div class="home">

{% include image.html url="/images/IMG_0623.PNG" caption="At the ПЭУ in Yerevan. Photo Credit: Mitya Lyalin." width=300 align="right" %}


<h1>Bio</h1>
	
<p>My name is Alexander Frolov, though I often go by Sasha. Alexander and Sasha Frolov are the same person.
    I'm currently a first-year Ph.D. student at the University of Maryland working on cryptography. 
    My advisors are Ian Miers and Gabe Kaptchuk. Previously, I was an engineer on the Cryptography Engineering 
    team at Meta for about 3 years, and before that I did my master's and bachelor's at Cornell University. My hobbies
    include cycling, swimming, stand-up/sketch comedy and editing Wikipedia. I am an ARCS MWC Named Scholar and a UMD
	MC2 fellow.
</p>

<h1>Recent Blog Posts</h1>
<ul>
    {% for post in site.posts %}
      {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
      <li class="listing-item">
        <!-- <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time> -->
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>

<h1>Publications</h1>

<ul class="listing">
<li>
    <a href="https://eprint.iacr.org/2020/934"><b>CanDID: Can-Do Decentralized Identity with Legacy Compatibility, Sybil-Resistance, and Accountability</b><br></a>
    <i>Deepak Maram, Harjasleen Malvai, Fan Zhang, Nerla Jean-Louis, <b>Alexander Frolov</b>,
        Tyler Kell, Tyrone Lobban, Christine Moy, Ari Juels, and Andrew Miller</i><br>
    IEEE S&P 2021<br>
    <!-- <a href=""><div class="color-button">cite</div></a><a href=""><div class="color-button">paper</div></a> -->
</li> <br>
<li>
    <a href="https://arxiv.org/abs/1810.05610"><b>Statistical Properties of Soft X-ray emission of Solar Flares</b><br></a>
    <i>Viacheslav M Sadykov, Alexander G Kosovichev, Irina N Kitiashvili, <b>Alexander
        Frolov</b></i><br>
    The Astrophysical Journal<br>
    <!-- <a href=""><div class="color-button">cite</div></a><a href=""><div class="color-button">paper</div></a> -->
</li> 
</ul>

<h1>Industry Research</h1>

<ul class="listing">
    <li>
        <a href="https://engineering.fb.com/2024/11/12/security/how-meta-built-large-scale-cryptographic-monitoring/"><b>How Meta Built Large-Scale Cryptographic Monitoring</b><br></a>
        <i>Hussain Humadi, <b>Sasha Frolov</b>, Rafael Misoczki, Dong Wu.</i><br>
        Post on Meta Engineering blog <br>
        <!-- <a href=""><div class="color-button">cite</div></a><a href=""><div class="color-button">paper</div></a> -->
    </li> <br>

    <li>
        <a href="https://datatracker.ietf.org/doc/draft-gueron-cfrg-dndkgcm/"><b>DNDK AES GCM</b><br></a>
        <i>Work done as part of Meta Cryptography Infrastructure team.</i><br>
        <a href="https://iacr.org/submit/files/slides/2024/rwc/rwc2024/105/slides.pdf">Talk at Real World Crypto 2024 by Shay Gueron</a><br>
        <a href="https://datatracker.ietf.org/doc/draft-gueron-cfrg-dndkgcm/">RFC in submission</a><br>
        <!-- <a href=""><div class="color-button">cite</div></a><a href=""><div class="color-button">paper</div></a> -->
    </li> <br>

    <li>
        <a href="https://arxiv.org/abs/2312.04724"><b>Purple Llama CyberSecEval: A Secure Coding Benchmark for Language Models</b><br></a>
        <i>Manish Bhatt, Sahana Chennabasappa, Cyrus Nikolaidis, Shengye Wan, Ivan Evtimov, Dominik Gabi, Daniel Song, Faizan Ahmad, 
            Cornelius Aschermann, Lorenzo Fontana, <b>Sasha Frolov</b>, Ravi Prakash Giri, Dhaval Kapil, Yiannis Kozyrakis, David LeBlanc, 
            James Milazzo, Aleksandar Straumann, Gabriel Synnaeve, Varun Vontimitta, Spencer Whitman, Joshua Saxe.</i><br>
        Preprint/Presented at a workshop at NeurIPS 2023<br>
        <!-- <a href=""><div class="color-button">cite</div></a><a href=""><div class="color-button">paper</div></a> -->
    </li> <br>

    <li>
        <a href="https://x.com/bwesterb/status/1771958142147973390"><b>Meta's updates at RWPQC 2024</b><br></a>
        <i>Rafael Misoczki, <b>Sasha Frolov</b>.</i><br>
        Presentation at RWPQC 2024<br>
    </li> <br>
</ul>

<h1>Preprints</h1>
<ul class="listing">
    <li>
        <a href="https://eprint.iacr.org/2024/2084"><b>Zero Knowledge Memory-Checking Techniques for Stacks and Queues
        </b><br></a>
        <i><b>Alexander Frolov</b></i><br>
        Preprint<br>
        <!-- <a href=""><div class="color-button">cite</div></a><a href=""><div class="color-button">paper</div></a> -->
    </li> 
</ul>

</div>
